{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'boot 5/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome3/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Search -Page</title>
    <style>
        body {
            margin: 0%;
            padding: 0;
            width: 90%;
            margin: auto;
            margin-top: 15px;
        }
    </style>
</head>

<body>

    {% for result in check_caption %}
    <div class="bg-white shadow rounded-md  -mx-2 lg:mx-0">

        <!-- post header-->
        <div class="flex justify-between items-center px-4 py-3" style="width:100%;margin:auto">
            <div class="flex flex-1 items-center space-x-4">
                <a href="/profile/{{result.user}}">
                    <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">
                        <img src="{{result.profileimage}}" class="bg-gray-200 border border-white rounded-full w-8 h-8">
                    </div>
                </a>
                <span class="block capitalize font-semibold ">{{result.user}}</span>
            </div>
            <div>
                <a href="/"> <i class="fas fa-home">
                    </i>
                </a>

            </div>
        </div>
        <div class="card">
            <div class="card-body">{{result.caption}}</div>
            <p><a href="post/{{result.id}}"><span class="fas fa-eye"></span></a></p>
        </div>
        <div>


            {% if result.image %}
            <a href="{{result.image.url}}">
                <img src="{{result.image.url}}" alt="">
            </a>
            {% endif %}

            {% if result.video %}
            <video controls>
                <source src="{{result.video.url}}" type="video/mp4">
                <source src="{{result.video.url}}" type="video/ogg">
            </video>
            {% endif %}


            {% if result.audio %}
            <audio controls>
                <source src="{{result.audio.url}}" type="{{audio.video.url}}">
                <source src="{{result.audio.url}}" type="{{audio.video.url}}">
            </audio>
            {% endif %}


            {% if result.pdf %}
            <a href="{{result.pdf.url}}">
                <object width="100%" height="200px" data="{{result.pdf.url}}"></object>
            </a>
            {% endif %}



        </div>


        <div class="py-3 px-4 space-y-3">
            <div class="flex space-x-4 lg:font-bold">
                <!-- <form id="like-post" method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="name" name="name" value="{{user.username}}">
                    <input type="hidden" id="ids" name="ids" value="{{result.id}}">
                    <button type="submit" class="flex items-center space-x-2">
                        <div class="p-2 rounded-full text-black">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="25"
                                height="25" class="">
                                <path
                                    d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
                            </svg>
                        </div>
                    </button>
                </form> -->

                {% if result.image %}
                <a href="{{result.image.url}}" download class="flex items-center space-x-2 flex-1 justify-end">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        aria-hidden="true" role="img" width="25" height="25" preserveAspectRatio="xMidYMid meet"
                        viewBox="0 0 16 16">
                        <g fill="currentColor">
                            <path
                                d="M8.5 1.5A1.5 1.5 0 0 1 10 0h4a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h6c-.314.418-.5.937-.5 1.5v6h-2a.5.5 0 0 0-.354.854l2.5 2.5a.5.5 0 0 0 .708 0l2.5-2.5A.5.5 0 0 0 10.5 7.5h-2v-6z" />
                        </g>
                    </svg>

                </a>
                {% endif %}

                {% if result.video %}
                <a href="{{result.video.url}}" download class="flex items-center space-x-2 flex-1 justify-end">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        aria-hidden="true" role="img" width="25" height="25" preserveAspectRatio="xMidYMid meet"
                        viewBox="0 0 16 16">
                        <g fill="currentColor">
                            <path
                                d="M8.5 1.5A1.5 1.5 0 0 1 10 0h4a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h6c-.314.418-.5.937-.5 1.5v6h-2a.5.5 0 0 0-.354.854l2.5 2.5a.5.5 0 0 0 .708 0l2.5-2.5A.5.5 0 0 0 10.5 7.5h-2v-6z" />
                        </g>
                    </svg>

                </a>
                {% endif %}


            </div>
            <div class="flex items-center space-x-3">
                <div class="flex items-center">

                </div>
                <div class="">
                    {% if result.no_of_likes == 0 or result.no_of_likes == 1 %}
                    <span id="display">{{result.no_of_likes}} like</span>
                    {% else %}
                    <span id="display">{{result.no_of_likes}} likes</span>
                    {% endif %}

                </div>
                <div class="">
                    {% if result.no_of_commenters == 0 or result.no_of_commenters == 1 %}
                    <span id="display">{{result.no_of_commenters}} comment</span>
                    {% else %}
                    <span id="display">{{result.no_of_commenters}} comments</span>
                    {% endif %}

                </div>
            </div>



        </div>
    </div>
    <br><br>
    {% endfor %}

    {% if not check_caption %}
    <div class="card">
        <div class="card-body">
            <p>No result found for '{{user_search}}'</p>
        </div>
    </div>
    {% endif %}



    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>

    <script src="{% static 'like.js' %}"></script>

</body>

</html>